*{

	margin: 0px;
}


body{
background: url(../img/backthree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;

display: block;
}

.head-one{
    background-color: #e87f13b8;
    color: #fff;
    border-radius: 5px;
    margin: 18px 124px;
    text-align: center;


}
.container{
              background-color: #f5b04952;
    width: 566px;
    margin: 77px auto;
    border-radius: 6px;
    PADDING: 31PX;
}

.login img{
        width: 150px;
    margin: 0px auto;
    display: block;
}


.login{
    width: 450px;
    margin: 0px auto;
}

.login h2{

    color: #ffff;
}


.from-control{
    width: 455px;
    padding: 17px;
    margin: 15px -15PX auto;
    border-radius: 10px;
}

.btn{
    background-color:#a66e28;
    padding: 18px;
    margin: 14px 190px;
    display: block;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    
}
.btn:hover{
	box-shadow:7px 5px 11px #D7DBDD

}