*{

	margin: 0px;
}


body{
background: url(../img/sign.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;

}

.head-one{
     background-color: #1da90c;
    color: #fff;
    border-radius: 5px;
    margin: 18px 124px;
    text-align: center;
}


}
.container{
           background-color: #30ec0e61;
    width: 566px;
    margin: 0 auto;
    border-radius: 15px;
}


.login{
    width: 450px;
    margin: 0px auto;
}

.login h2{
    margin: 0px auto;
    text-align: center;
    color: #ffff;
}

.from-control{
    width: 455px;
    padding: 17px;
    margin: 8px auto;
    border-radius: 10px;

}

.btn{
       background-color: #085803;
    padding: 6px;
    margin: 9px 191px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    
   

}
.btn:hover{
	box-shadow:7px 5px 11px #D7DBDD
}
